<!--i class="fa-solid fa-user"></i>
<i class="fa-brands fa-github-square"></i-->
<!-- Matomo Image Tracker-->


<!-- End Matomo -->
<div class="wrapper">
  <div class="grid1">

    <div class="max-w-md mx-auto bg-white rounded-xl overflow-hidden shadow-md">
      <!-- Card Content -->
      <div class="p-4">
        <h2 class="text-xl font-semibold mb-4">Your Card Title</h2>

        <!-- Rounded Checkbox -->
        <label class="inline-flex items-center">
          <input type="checkbox" class="form-checkbox h-5 w-5 rounded-full text-indigo-600">
          <span class="ml-2 text-gray-700">Checkbox Label</span>
        </label>
      </div>
    </div>

  </div>
  <div class="grid2">2</div>
  <div class="grid3">3</div>
  <div class="grid4">4</div>
  <div class="grid5">5</div>
  <div class="grid6">6</div>
  <div class="grid7">7</div>
  <div class="grid8">8</div>
  <div class="grid9">9</div>
  <div class="grid10">10</div>
  <div class="grid11">11</div>
</div>

<button
  (click)="login()"
  class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
  Login
</button>


